Repository spring-projects/spring-ai, pull requests merged in 2024-07, with the labels that each got.

#985 Add line break at [Function Calling] chapter
  spring-ai-docs/src/main/antora/modules/ROOT/pages/concepts.adoc
Labels: documentation

#980 Update typo mistake in chatclient.adoc
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/chatclient.adoc
Labels: documentation

#945 Update chroma.adoc
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/vectordbs/chroma.adoc
Labels: documentation

#1043 Fix not-null assertion in PdfDocumentReaderConfig
  document-readers/pdf-reader/src/main/java/org/springframework/ai/reader/pdf/config/PdfDocumentReaderConfig.java
Labels: ETL

#1029 fix: QianFan role based chat model & unit tests
  models/spring-ai-qianfan/src/main/java/org/springframework/ai/qianfan/QianFanChatModel.java
  models/spring-ai-qianfan/src/test/java/org/springframework/ai/qianfan/chat/QianFanChatModelIT.java
Labels: model client

#1026 Updated MongoDBAtlasVectorStore to use `org.bson.Document`
  vector-stores/spring-ai-mongodb-atlas-store/src/main/java/org/springframework/ai/vectorstore/MongoDBAtlasVectorStore.java
Labels: vector store, mongo

#1119 Improve Anthropic function calling
  models/spring-ai-anthropic/src/main/java/org/springframework/ai/anthropic/AnthropicChatModel.java
  models/spring-ai-anthropic/src/main/java/org/springframework/ai/anthropic/api/AnthropicApi.java
  models/spring-ai-anthropic/src/main/java/org/springframework/ai/anthropic/api/StreamHelper.java
  models/spring-ai-anthropic/src/test/java/org/springframework/ai/anthropic/api/tool/AnthropicApiToolIT.java
  models/spring-ai-openai/src/main/java/org/springframework/ai/openai/OpenAiChatModel.java
  spring-ai-core/src/main/java/org/springframework/ai/chat/messages/AssistantMessage.java
  spring-ai-core/src/main/java/org/springframework/ai/chat/metadata/ChatGenerationMetadata.java
  spring-ai-core/src/main/java/org/springframework/ai/chat/model/AbstractToolCallSupport.java
Labels: model client, function calling

#1132 Streamline the VertexAI Gemini Function Calling
  models/spring-ai-vertex-ai-gemini/src/main/java/org/springframework/ai/vertexai/gemini/VertexAiGeminiChatModel.java
  spring-ai-core/src/main/java/org/springframework/ai/model/function/AbstractFunctionCallSupport.java
Labels: model client, function calling, vertex

#1136 Streamline Azure OpenAI Function Calling
  models/spring-ai-azure-openai/src/main/java/org/springframework/ai/azure/openai/AzureOpenAiChatModel.java
  models/spring-ai-azure-openai/src/test/java/org/springframework/ai/azure/openai/function/AzureOpenAiChatModelFunctionCallIT.java
  spring-ai-spring-boot-autoconfigure/src/test/java/org/springframework/ai/autoconfigure/azure/tool/DeploymentNameUtil.java
Labels: model client, function calling
