Repository spring-projects/spring-ai, pull requests merged in 2024-05, with the labels that each got.

#673 CassandraVectorStore option to return embeddings in documents from similarity searches
  vector-stores/spring-ai-cassandra/src/main/java/org/springframework/ai/vectorstore/CassandraVectorStore.java
  vector-stores/spring-ai-cassandra/src/main/java/org/springframework/ai/vectorstore/CassandraVectorStoreConfig.java
  vector-stores/spring-ai-cassandra/src/test/java/org/springframework/ai/vectorstore/CassandraVectorStoreIT.java
Labels: vectors store

#672 OpenAI: Fix model property being overwritten by default value
  models/spring-ai-openai/src/main/java/org/springframework/ai/openai/OpenAiImageOptions.java
  spring-ai-spring-boot-autoconfigure/src/main/java/org/springframework/ai/autoconfigure/openai/OpenAiImageProperties.java
  spring-ai-spring-boot-autoconfigure/src/test/java/org/springframework/ai/autoconfigure/openai/OpenAiAutoConfigurationIT.java
Labels: bug, model client

#681 Add the autoconfigure property for the CassandraVectorStore option to return embeddings in documents from similarity searches
  spring-ai-spring-boot-autoconfigure/src/main/java/org/springframework/ai/autoconfigure/vectorstore/cassandra/CassandraVectorStoreAutoConfiguration.java
  spring-ai-spring-boot-autoconfigure/src/main/java/org/springframework/ai/autoconfigure/vectorstore/cassandra/CassandraVectorStoreProperties.java
Labels: vectors store

#740 Add spring-ai-retry dependency to Ollama model pom.xml
  models/spring-ai-ollama/pom.xml
Labels: enhancement, model client
