Repository spring-projects/spring-ai, pull requests merged in 2025-03, with the labels that each got.

#2333 Fix bug SseHttpClientTransportAutoConfiguration
  auto-configurations/spring-ai-mcp-client/src/main/java/org/springframework/ai/autoconfigure/mcp/client/SseHttpClientTransportAutoConfiguration.java
Labels: bug, MCP

#2354 feat(mcp): add support for custom MIME types in tool responses
  auto-configurations/spring-ai-mcp-server/src/main/java/org/springframework/ai/autoconfigure/mcp/server/McpServerAutoConfiguration.java
  auto-configurations/spring-ai-mcp-server/src/main/java/org/springframework/ai/autoconfigure/mcp/server/McpServerProperties.java
  mcp/common/src/main/java/org/springframework/ai/mcp/McpToolUtils.java
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/mcp/mcp-server-boot-starter-docs.adoc
Labels: MCP

#2353 feat: Add equals, hashCode, deep copy, and tests to AnthropicChatOptions
  models/spring-ai-anthropic/src/main/java/org/springframework/ai/anthropic/AnthropicChatOptions.java
  models/spring-ai-anthropic/src/test/java/org/springframework/ai/anthropic/AnthropicChatOptionsTests.java
Labels: enhancement, anthropic

#2387 update anthropic model version in example code from Documentation
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/chat/anthropic-chat.adoc
Labels: anthropic

#2405 fix typo in rag doc
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/retrieval-augmented-generation.adoc
Labels: documentation, RAG

#2412 fix(mcp-server): improve code quality and readability
  auto-configurations/spring-ai-mcp-server/src/main/java/org/springframework/ai/autoconfigure/mcp/server/McpServerAutoConfiguration.java
Labels: MCP

#2409 fix vertordbs opensearch.adoc
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/vectordbs/opensearch.adoc
Labels: documentation, opensearch

#2419 Fix property name in Redis documentation
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/vectordbs/redis.adoc
Labels: documentation, redis

#2416 Fix typo in spring-ai-mcp-server autoconfiguration
  auto-configurations/spring-ai-mcp-server/src/main/java/org/springframework/ai/autoconfigure/mcp/server/McpServerAutoConfiguration.java
  auto-configurations/spring-ai-mcp-server/src/main/java/org/springframework/ai/autoconfigure/mcp/server/McpServerProperties.java
Labels: documentation, MCP

#2432 feat(mcp): handle ToolContext in MCP tool callbacks
  mcp/common/src/main/java/org/springframework/ai/mcp/AsyncMcpToolCallback.java
  mcp/common/src/main/java/org/springframework/ai/mcp/SyncMcpToolCallback.java
  mcp/common/src/test/java/org/springframework/ai/mcp/SyncMcpToolCallbackTests.java
Labels: bug, tool/function calling, MCP

#2436 feat(mcp): Prefix tool names with client name to avoid naming conflicts
  auto-configurations/spring-ai-mcp-client/src/main/java/org/springframework/ai/autoconfigure/mcp/client/McpClientAutoConfiguration.java
  auto-configurations/spring-ai-mcp-client/src/main/java/org/springframework/ai/autoconfigure/mcp/client/NamedClientMcpTransport.java
  auto-configurations/spring-ai-mcp-client/src/main/java/org/springframework/ai/autoconfigure/mcp/client/properties/McpStdioClientProperties.java
  mcp/common/src/main/java/org/springframework/ai/mcp/AsyncMcpToolCallback.java
  mcp/common/src/main/java/org/springframework/ai/mcp/SyncMcpToolCallback.java
  mcp/common/src/test/java/org/springframework/ai/mcp/SyncMcpToolCallbackProviderTests.java
  mcp/common/src/test/java/org/springframework/ai/mcp/SyncMcpToolCallbackTests.java
Labels: tool/function calling, MCP

#2443 fix(mcp): standardize MCP tool name formatting and improve error handle
  mcp/common/src/main/java/org/springframework/ai/mcp/AsyncMcpToolCallback.java
  mcp/common/src/main/java/org/springframework/ai/mcp/McpToolUtils.java
  mcp/common/src/main/java/org/springframework/ai/mcp/SyncMcpToolCallback.java
  mcp/common/src/test/java/org/springframework/ai/mcp/SyncMcpToolCallbackTests.java
Labels: tool/function calling, MCP

#2444 refactor: replace direct dependencies with ObjectProvider in MCP
  auto-configurations/spring-ai-mcp-client/src/main/java/org/springframework/ai/autoconfigure/mcp/client/SseHttpClientTransportAutoConfiguration.java
  auto-configurations/spring-ai-mcp-client/src/main/java/org/springframework/ai/autoconfigure/mcp/client/SseWebFluxTransportAutoConfiguration.java
Labels: MCP

#2396 chore: Remove unnecessary public modifier in ToolCallbackProvider.
  spring-ai-core/src/main/java/org/springframework/ai/tool/ToolCallbackProvider.java
Labels: code cleanup

#2365 Typo in example code
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/chat/openai-chat.adoc
Labels: documentation, openai

#2451 Add condition tests for MCP client transport auto-configurations
  auto-configurations/spring-ai-mcp-client/src/test/java/org/springframework/ai/autoconfigure/mcp/client/SseHttpClientTransportAutoConfigurationTests.java
  auto-configurations/spring-ai-mcp-client/src/test/java/org/springframework/ai/autoconfigure/mcp/client/SseWebFluxTransportAutoConfigurationTests.java
Labels: testing, MCP

#2446 Fix array comparison and add final modifiers in embedding classes
  spring-ai-core/src/main/java/org/springframework/ai/embedding/AbstractEmbeddingModel.java
  spring-ai-core/src/main/java/org/springframework/ai/embedding/Embedding.java
  spring-ai-core/src/main/java/org/springframework/ai/embedding/EmbeddingResultMetadata.java
Labels: code cleanup

#2376 chore: add missing toolCallbacks(vargs) to vertex chat options
  models/spring-ai-vertex-ai-gemini/src/main/java/org/springframework/ai/vertexai/gemini/VertexAiGeminiChatOptions.java
Labels: enhancement, vertex, chat options

#2465 Conditionally enable invidividual vector store implementations
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-azure-cosmos-db/src/main/java/org/springframework/ai/vectorstore/cosmosdb/autoconfigure/CosmosDBVectorStoreAutoConfiguration.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-azure-cosmos-db/src/test/java/org/springframework/ai/vectorstore/cosmosdb/autoconfigure/CosmosDBVectorStoreAutoConfigurationIT.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-azure/src/main/java/org/springframework/ai/vectorstore/azure/autoconfigure/AzureVectorStoreAutoConfiguration.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-azure/src/test/java/org/springframework/ai/vectorstore/azure/autoconfigure/AzureVectorStoreAutoConfigurationIT.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-cassandra/src/main/java/org/springframework/ai/vectorstore/cassandra/autoconfigure/CassandraVectorStoreAutoConfiguration.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-cassandra/src/test/java/org/springframework/ai/vectorstore/cassandra/autoconfigure/CassandraVectorStoreAutoConfigurationIT.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-chroma/src/main/java/org/springframework/ai/vectorstore/chroma/autoconfigure/ChromaVectorStoreAutoConfiguration.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-chroma/src/test/java/org/springframework/ai/vectorstore/chroma/autoconfigure/ChromaVectorStoreAutoConfigurationIT.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-elasticsearch/src/main/java/org/springframework/ai/vectorstore/elasticsearch/autoconfigure/ElasticsearchVectorStoreAutoConfiguration.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-elasticsearch/src/test/java/org/springframework/ai/vectorstore/elasticsearch/autoconfigure/ElasticsearchVectorStoreAutoConfigurationIT.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-gemfire/src/main/java/org/springframework/ai/vectorstore/gemfire/autoconfigure/GemFireVectorStoreAutoConfiguration.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-gemfire/src/test/java/org/springframework/ai/vectorstore/gemfire/autoconfigure/GemFireVectorStoreAutoConfigurationIT.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-hanadb/src/main/java/org/springframework/ai/vectorstore/hanadb/autoconfigure/HanaCloudVectorStoreAutoConfiguration.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-mariadb/src/main/java/org/springframework/ai/vectorstore/mariadb/autoconfigure/MariaDbStoreAutoConfiguration.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-mariadb/src/test/java/org/springframework/ai/vectorstore/mariadb/autoconfigure/MariaDbStoreAutoConfigurationIT.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-milvus/src/main/java/org/springframework/ai/vectorstore/milvus/autoconfigure/MilvusVectorStoreAutoConfiguration.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-milvus/src/test/java/org/springframework/ai/vectorstore/milvus/autoconfigure/MilvusVectorStoreAutoConfigurationIT.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-mongodb-atlas/src/main/java/org/springframework/ai/vectorstore/mongodb/autoconfigure/MongoDBAtlasVectorStoreAutoConfiguration.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-mongodb-atlas/src/test/java/org/springframework/ai/vectorstore/mongodb/autoconfigure/MongoDBAtlasVectorStoreAutoConfigurationIT.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-neo4j/src/main/java/org/springframework/ai/vectorstore/neo4j/autoconfigure/Neo4jVectorStoreAutoConfiguration.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-neo4j/src/test/java/org/springframework/ai/vectorstore/neo4j/autoconfigure/Neo4jVectorStoreAutoConfigurationIT.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-opensearch/src/main/java/org/springframework/ai/vectorstore/opensearch/autoconfigure/OpenSearchVectorStoreAutoConfiguration.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-opensearch/src/test/java/org/springframework/ai/vectorstore/opensearch/autoconfigure/OpenSearchVectorStoreAutoConfigurationIT.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-oracle/src/main/java/org/springframework/ai/vectorstore/oracle/autoconfigure/OracleVectorStoreAutoConfiguration.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-oracle/src/test/java/org/springframework/ai/vectorstore/oracle/autoconfigure/OracleVectorStoreAutoConfigurationIT.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-pgvector/src/main/java/org/springframework/ai/vectorstore/pgvector/autoconfigure/PgVectorStoreAutoConfiguration.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-pgvector/src/test/java/org/springframework/ai/vectorstore/pgvector/autoconfigure/PgVectorStoreAutoConfigurationIT.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-pinecone/src/main/java/org/springframework/ai/vectorstore/pinecone/autoconfigure/PineconeVectorStoreAutoConfiguration.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-pinecone/src/test/java/org/springframework/ai/vectorstore/pinecone/autoconfigure/PineconeVectorStoreAutoConfigurationIT.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-qdrant/src/main/java/org/springframework/ai/vectorstore/qdrant/autoconfigure/QdrantVectorStoreAutoConfiguration.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-qdrant/src/test/java/org/springframework/ai/vectorstore/qdrant/autoconfigure/QdrantVectorStoreAutoConfigurationIT.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-redis/src/main/java/org/springframework/ai/vectorstore/redis/autoconfigure/RedisVectorStoreAutoConfiguration.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-redis/src/test/java/org/springframework/ai/vectorstore/redis/autoconfigure/RedisVectorStoreAutoConfigurationIT.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-typesense/src/main/java/org/springframework/ai/vectorstore/typesense/autoconfigure/TypesenseVectorStoreAutoConfiguration.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-typesense/src/test/java/org/springframework/ai/vectorstore/typesense/autoconfigure/TypesenseVectorStoreAutoConfigurationIT.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-weaviate/src/main/java/org/springframework/ai/vectorstore/weaviate/autoconfigure/WeaviateVectorStoreAutoConfiguration.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-weaviate/src/test/java/org/springframework/ai/vectorstore/weaviate/autoconfigure/WeaviateVectorStoreAutoConfigurationIT.java
  spring-ai-core/src/main/java/org/springframework/ai/vectorstore/SpringAIVectorStoreTypes.java
Labels: vector store

#2472 feat: Add AOP proxy support to MethodToolCallbackProvider
  spring-ai-core/src/main/java/org/springframework/ai/tool/method/MethodToolCallbackProvider.java
  spring-ai-core/src/test/java/org/springframework/ai/tool/method/MethodToolCallbackProviderAopTests.java
  spring-ai-core/src/test/java/org/springframework/ai/tool/method/MethodToolCallbackProviderTests.java
  spring-ai-core/src/test/java/org/springframework/ai/tool/method/MethodToolCallbackTests.java
Labels: bug, tool/function calling

#2498 Update mcp-client-boot-starter-docs.adoc
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/mcp/mcp-client-boot-starter-docs.adoc
Labels: MCP

#2488 allow null usage for OpenAI embedding model
  models/spring-ai-openai/src/main/java/org/springframework/ai/openai/OpenAiEmbeddingModel.java
Labels: openai

#2483 optimize: use already defined variables
  models/spring-ai-openai/src/main/java/org/springframework/ai/openai/OpenAiChatModel.java
Labels: openai

#2470 chore: remove unused imports from models
  models/spring-ai-anthropic/src/test/java/org/springframework/ai/anthropic/AnthropicChatModelObservationIT.java
  models/spring-ai-azure-openai/src/main/java/org/springframework/ai/azure/openai/AzureOpenAiChatModel.java
  models/spring-ai-bedrock-converse/src/test/java/org/springframework/ai/bedrock/converse/BedrockProxyChatModelIT.java
  models/spring-ai-bedrock-converse/src/test/java/org/springframework/ai/bedrock/converse/client/BedrockNovaChatClientIT.java
  models/spring-ai-mistral-ai/src/main/java/org/springframework/ai/mistralai/MistralAiChatModel.java
  models/spring-ai-mistral-ai/src/test/java/org/springframework/ai/mistralai/MistralAiChatModelIT.java
  models/spring-ai-openai/src/main/java/org/springframework/ai/openai/OpenAiChatModel.java
  models/spring-ai-openai/src/main/java/org/springframework/ai/openai/api/OpenAiAudioApi.java
  models/spring-ai-openai/src/test/java/org/springframework/ai/openai/audio/speech/OpenAiSpeechModelWithSpeechResponseMetadataTests.java
  models/spring-ai-openai/src/test/java/org/springframework/ai/openai/chat/OpenAiChatModelNoOpApiKeysIT.java
  models/spring-ai-openai/src/test/java/org/springframework/ai/openai/chat/OpenAiChatModelObservationIT.java
  models/spring-ai-openai/src/test/java/org/springframework/ai/openai/chat/proxy/MistralWithOpenAiChatModelIT.java
  models/spring-ai-openai/src/test/java/org/springframework/ai/openai/chat/proxy/OllamaWithOpenAiChatModelIT.java
  models/spring-ai-openai/src/test/java/org/springframework/ai/openai/chat/proxy/PerplexityWithOpenAiChatModelIT.java
  models/spring-ai-openai/src/test/java/org/springframework/ai/openai/image/OpenAiImageModelWithImageResponseMetadataTests.java
  models/spring-ai-openai/src/test/java/org/springframework/ai/openai/moderation/OpenAiModerationModelTests.java
Labels: code cleanup

#2515 Update deepseek-chat.adoc
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/chat/deepseek-chat.adoc
Labels: documentation, openai

#2503 Update tools.adoc Corrected incorrect punctuation usage
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/tools.adoc
Labels: documentation

#2542 chore: remove unused imports
  auto-configurations/spring-ai-mcp-client/src/main/java/org/springframework/ai/autoconfigure/mcp/client/SseHttpClientTransportAutoConfiguration.java
  document-readers/tika-reader/src/test/java/org/springframework/ai/reader/tika/TikaDocumentReaderTests.java
  mcp/common/src/main/java/org/springframework/ai/mcp/AsyncMcpToolCallback.java
  spring-ai-core/src/main/java/org/springframework/ai/chat/client/advisor/QuestionAnswerAdvisor.java
  spring-ai-spring-boot-autoconfigure/src/main/java/org/springframework/ai/autoconfigure/vectorstore/couchbase/CouchbaseSearchVectorStoreAutoConfiguration.java
  spring-ai-spring-boot-autoconfigure/src/test/java/org/springframework/ai/autoconfigure/postgresml/PostgresMlAutoConfigurationIT.java
  vector-stores/spring-ai-milvus-store/src/test/java/org/springframework/ai/vectorstore/milvus/MilvusVectorStoreTest.java
Labels: code cleanup

#2553 Migrate Couchbase vector store auto-configuration to dedicated module
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-couchbase/pom.xml
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-couchbase/src/main/java/org/springframework/ai/vectorstore/couchbase/autoconfigure/CouchbaseSearchVectorStoreAutoConfiguration.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-couchbase/src/main/java/org/springframework/ai/vectorstore/couchbase/autoconfigure/CouchbaseSearchVectorStoreProperties.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-couchbase/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-couchbase/src/test/java/org/springframework/ai/vectorstore/couchbase/autoconfigure/CouchbaseContainerMetadata.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-couchbase/src/test/java/org/springframework/ai/vectorstore/couchbase/autoconfigure/CouchbaseSearchVectorStoreAutoConfigurationIT.java
  pom.xml
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/vectordbs/couchbase.adoc
  spring-ai-spring-boot-starters/spring-ai-starter-vector-store-couchbase/pom.xml
Labels: couchbase

#2565 Remove coherence vector store boot starter since it is missing the au…
  pom.xml
  spring-ai-bom/pom.xml
  spring-ai-spring-boot-starters/spring-ai-starter-coherence-store/pom.xml
Labels: vector store

#2577 Update mcp-client-boot-starter-docs.adoc
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/mcp/mcp-client-boot-starter-docs.adoc
Labels: documentation, MCP

#2604 Fix Structured Output Converter docs
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/structured-output-converter.adoc
Labels: documentation

#2517 Refactor Redis vector store property: index to indexName
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-redis/src/main/java/org/springframework/ai/vectorstore/redis/autoconfigure/RedisVectorStoreAutoConfiguration.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-redis/src/main/java/org/springframework/ai/vectorstore/redis/autoconfigure/RedisVectorStoreProperties.java
  auto-configurations/vector-stores/spring-ai-autoconfigure-vector-store-redis/src/test/java/org/springframework/ai/vectorstore/redis/autoconfigure/RedisVectorStorePropertiesTests.java
Labels: redis

#2605 Fix ChatModel docs
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/chatmodel.adoc
Labels: documentation

#2606 Correction of a typo (Char -> Chat)
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/chat/bedrock-converse.adoc
Labels: documentation
