Repository spring-projects/spring-ai, pull requests merged in 2025-02, with the labels that each got.

#2205 fix sample code in perplexity-chat.adoc
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/chat/perplexity-chat.adoc
Labels: documentation

#2217 Update Pinecone vector store docs for the builder pattern
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/vectordbs/pinecone.adoc
Labels: documentation

#2307 Upgrade weaviate client to 5.0.1
  pom.xml
Labels: weaviate

#2328 Upgrade Pinecone java client to 4.0.1
  pom.xml
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/vectordbs/pinecone.adoc
  spring-ai-spring-boot-autoconfigure/src/main/java/org/springframework/ai/autoconfigure/vectorstore/pinecone/PineconeVectorStoreAutoConfiguration.java
  spring-ai-spring-boot-autoconfigure/src/test/java/org/springframework/ai/autoconfigure/vectorstore/pinecone/PineconeVectorStoreAutoConfigurationIT.java
  spring-ai-test/src/main/java/org/springframework/ai/test/vectorstore/BaseVectorStoreTests.java
  vector-stores/spring-ai-pinecone-store/pom.xml
  vector-stores/spring-ai-pinecone-store/src/main/java/org/springframework/ai/vectorstore/pinecone/PineconeVectorStore.java
  vector-stores/spring-ai-pinecone-store/src/test/java/org/springframework/ai/vectorstore/pinecone/PineconeVectorStoreIT.java
  vector-stores/spring-ai-pinecone-store/src/test/java/org/springframework/ai/vectorstore/pinecone/PineconeVectorStoreObservationIT.java
Labels: vector store

#2326 correct wrong property name
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/chat/deepseek-chat.adoc
Labels: documentation, openai

#2317 Modify the sample code
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/chat/deepseek-chat.adoc
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/chat/groq-chat.adoc
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/chat/nvidia-chat.adoc
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/chat/ollama-chat.adoc
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/chat/perplexity-chat.adoc
Labels: documentation, chat options

#2319 Add new Ollama models: LLAMA3_2_3B
  models/spring-ai-ollama/src/main/java/org/springframework/ai/ollama/api/OllamaModel.java
Labels: ollama

#2343 feat(anthropic): add support for custom HTTP headers in Anthropic API
  models/spring-ai-anthropic/src/main/java/org/springframework/ai/anthropic/AnthropicChatModel.java
  models/spring-ai-anthropic/src/main/java/org/springframework/ai/anthropic/AnthropicChatOptions.java
  models/spring-ai-anthropic/src/main/java/org/springframework/ai/anthropic/api/AnthropicApi.java
  models/spring-ai-anthropic/src/test/java/org/springframework/ai/anthropic/AnthropicChatModelAdditionalHttpHeadersIT.java
  spring-ai-docs/src/main/antora/modules/ROOT/pages/api/chat/anthropic-chat.adoc
Labels: chat options, anthropic
